.container-chart {
  position: relative;
  height: 100%;
}

// 헤더 이단 네비게이션

.header-wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: rem(45px);
  background: $accent-background;
  border-bottom: 1px solid $borderLightGray;
  @include tab {
    display: none;
  }
}

.is-active .header__nav__link::after {
  content: "";
  display: block;
  height: rem(4px);
  transform: translateY(15px);
  background: $primary-logo-color;
}

.header__nav__item {
  position: relative;

  .header__nav__list__detail {
    position: absolute;
    top: rem(40px);
    left: rem(-10px);
    width: rem(1010px);
    height: rem(45px);

    &__chart-finder {
      background: transparent;
      outline: none;
      border: none;
      font-size: 13px;
      color: #767676;
    }

    .header__nav__item__detail {
      display: inline-block;
      padding: rem(11px) rem(12px) 0;
      margin: rem(10px);
      font-size: rem(14px);
      color: #1a1a1a;

      &:nth-child(6) {
        position: absolute;
        right: rem(0px);
        padding-top: rem(4px);
        padding-right: 0;
        margin-right: 0;
      }
    }

    @include tab {
      display: none;
    }
  }
}

// 메인 영역

.chart__main {
  @include autoMargin;
  padding: rem(40px) rem(20px) 0;
  width: rem(1010px);

  @include tab {
    width: 100%;
  }

  @include mobile {
    padding: rem(40px) rem(10px) 0;
  }

  // 차트 탑100 부분 및 모달창
  &__title-wrapper {
    position: relative;
    margin-bottom: rem(8px);

    .chart__main__title {
      display: inline-block;
      font-size: rem(26px);
    }

    .chart__main__modal__open-button {
      position: absolute;
      top: rem(2px);
      left: rem(110px);
      width: rem(24px);
      height: rem(24px);
      background: transparent;
      border: none;
    }

    .chart__main__modal {
      display: none;
      width: rem(735px);
      height: rem(78px);
      position: absolute;
      background-color: $accent-red;
      top: rem(2px);
      left: rem(110px);
      padding: rem(10px) rem(42px) rem(8px) rem(16px);
      font-size: rem(12px);
    }

    &__close-button {
      position: absolute;
      top: rem(8px);
      right: rem(8px);
    }
  }

  // 시간 영역 및 모달창

  &__time {
    margin: rem(12px) 0 rem(32px);
    height: rem(34px);
    font-size: rem(26px);
    text-align: center;

    .time {
      color: #575757;
    }

    &__modal {
      display: inline-block;
      position: relative;

      &__button {
        background-color: transparent;
        border: none;
      }

      &__select {
        display: none;
        position: absolute;
        top: rem(30px);
        left: 0;
      }
    }
  }

  //  플레이 및 저장 버튼, 새로고침 버튼 영역
  .chart__main__music-button__wrapper {
    height: rem(30px);
    margin-bottom: rem(10px);
    position: relative;

    .refresh__wrapper {
      position: absolute;
      right: rem(10px);
      top: rem(5px);
    }

    .refresh__button {
      border: none;
      background: transparent;
      font-size: rem(13px);
      color: #767676;
    }

    .chart__main__music-button__list {
      display: flex;
    }

    .chart__main__music-button__item {
      margin-right: rem(10px);
      white-space: nowrap;

      & button {
        background: transparent;
        border-radius: rem(14px);
        height: rem(28px);
        padding: 0 rem(9px);
        border: 1px solid $borderGray;
        color: $light-gray;
      }
    }
  }

  // 탑100 차트 영역
  .chart__main__top100 {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: rem(80px);

    &__thead {
      border-top: 1px solid $borderLightGray;
      border-bottom: 1px solid $borderLightGray;
      height: rem(48px);
      text-align: left;
      font-size: rem(13px);
      font-weight: 400;
      white-space: nowrap;
      color: #606060;
    }

    &__tbody {
      tr {
        border-bottom: 1px solid $borderLightGray;
        height: rem(85px);
        @include mobile {
          height: rem(60px);
        }

        td[headers="rank"] {
          padding: 0 rem(18px) 0 rem(12px);
          text-align: center;
        }

        td[headers="sing-album-cover"] img {
          width: rem(60px);
          height: rem(60px);
          min-width: 60px;
          height: 60px;
          @include marginX(10px);
          @include mobile {
            min-width: 40px;
            height: 40px;
          }
        }
      }

      .song {
        &__info {
          &__wrap {
            display: flex;
            flex-flow: column nowrap;
          }

          &__title {
            @include ellipsis;
            display: inline-block;
            width: 90%;
            font-size: rem(14px);
            margin-bottom: rem(4px);
          }

          &__singer {
            font-size: rem(12px);
            color: #969696;
          }
        }

        &__album__title {
          @include ellipsis;
          display: inline-block;
          width: 80%;
          font-size: rem(14px);
          color: #969696;
        }

        &__info__title:hover,
        &__info__singer:hover,
        &__album__title:hover {
          text-decoration: underline;
        }
      }

      .sing {
        &__like__button {
          min-width: rem(66px);
          height: rem(24px);
          text-align: start;

          .like-count {
            font-size: rem(12px);
            color: #888888;
            vertical-align: rem(2px);
          }
        }

        &_listen__button {
          width: rem(26px);
          height: rem(30px);
        }
        &__list-add__button {
          width: rem(26px);
          height: rem(32px);
        }
        &__download__button {
          width: rem(31px);
          height: rem(31px);
        }
        &__mv__button {
          width: rem(30px);
          height: rem(32px);
        }

        &__like__button,
        &__listen__button,
        &__list-add__button,
        &__download__button,
        &__mv__button {
          @include removeBtnStyle;
        }
      }
    }
  }
}

// 공통 영역으로 빼도 될만한 것

.font-green {
  color: $primary-logo-color;
}

// 데스크탑 기준 레이아웃 퍼센트

#check {
  width: 1%;
}

#rank {
  width: 6%;
  text-align: center;
}

#rank-change {
  width: 5%;
}

#sing-album-cover {
  width: 7%;
}

#sing-info-link {
  width: 4%;
}

#sing-info {
  width: 22%;
}

#sing-album {
  width: 17%;
}

#sing-like {
  width: 14%;
}

#sing-listen {
  width: 6%;
}

#sing-list-add {
  width: 6%;
}

#sing-download {
  width: 6%;
}

#sing-mv {
  width: 6%;
}

//태블릿

@include tab {
  .chart__main__music-button__wrapper {
    display: none;
  }

  .chart__main__top100 {
    width: 100%;

    &__thead tr {
      height: 48px;
    }

    &__thead tr,
    &__tbody tr {
      position: relative;
      @include flexbox(row, space-between, center, wrap);
    }
  }

  #check,
  td[headers="check"] {
    display: none;
  }

  #rank,
  td[headers="rank"] {
    width: 3%;
    min-width: 20px;
  }

  #rank-change,
  td[headers="rank-change"] {
    width: 6%;
    text-align: center;
  }

  #sing-album-cover,
  td[headers="sing-album-cover"] {
    width: 70px;
    order: -1;
  }

  #sing-info-link,
  td[headers="sing-info-link"] {
    display: none;
  }

  #sing-info,
  td[headers="sing-info"] {
    width: 30%;
  }

  #sing-album,
  td[headers="sing-album"] {
    width: 19%;
  }

  #sing-like,
  td[headers="sing-like"] {
    width: 14%;
  }

  #sing-listen,
  td[headers="sing-listen"] {
    width: 8%;
    text-align: center;
  }

  #sing-list-add,
  td[headers="sing-list-add"] {
    display: none;
  }

  #sing-download,
  td[headers="sing-download"] {
    display: none;
  }

  #sing-mv,
  td[headers="sing-mv"] {
    display: none;
  }
}

// 모바일

@include mobile {
  .chart__main__title-wrapper,
  .chart__main__time,
  .chart__main__music-button__wrapper,
  .chart__main__top100__thead {
    display: none;
  }

  .chart__main__top100__tbody tr {
    @include flexbox(row, space-between, center, wrap);
    position: relative;
    min-width: rem(288px);
  }

  #check,
  td[headers="check"] {
    display: none;
  }

  #rank,
  td[headers="rank"] {
    width: rem(20px);
    padding: 0;
    text-align: center;
  }

  #rank-change,
  td[headers="rank-change"] {
    display: inline-block;
    width: 3%;
    text-align: center;

    .rank-up-num,
    .rank-down-num {
      display: none;
    }
  }

  #sing-album-cover,
  td[headers="sing-album-cover"] {
    width: rem(40px);
    margin-right: rem(10px);
    order: -1;
  }

  #sing-info-link,
  td[headers="sing-info-link"] {
    display: none;
  }

  #sing-info,
  td[headers="sing-info"] {
    width: 60%;
    padding-left: 10px;
  }

  #sing-album,
  td[headers="sing-album"] {
    display: none;
  }

  #sing-like,
  td[headers="sing-like"] {
    display: none;
  }

  #sing-listen,
  td[headers="sing-listen"] {
    width: 9%;
  }

  #sing-list-add,
  td[headers="sing-list-add"] {
    display: none;
  }

  #sing-download,
  td[headers="sing-download"] {
    display: none;
  }

  #sing-mv,
  td[headers="sing-mv"] {
    display: none;
  }
}

// 아이콘 관련

// 물음표 아이콘
.question-icon {
  display: inline-block;
  width: rem(24px);
  height: rem(24px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -458px -31px;
}

//검색 아이콘
.search-icon {
  display: inline-block;
  width: rem(20px);
  height: rem(19px);
  margin-right: rem(2px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -499px -30px;
  transform: translateY(6px);
}

// 아랫방향 아이콘 (작대기없음)
.down-icon {
  display: inline-block;
  width: rem(16px);
  height: rem(11px);
  margin-left: rem(2px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -283px -68px;
}

// 새로고침 아이콘
.refresh-icon {
  display: inline-block;
  width: rem(17px);
  height: rem(17px);
  margin-left: rem(6px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -425px -30px;
  transform: translateY(4px);
}

// 셔플 아이콘
.suffle-icon {
  display: inline-block;
  width: rem(13px);
  height: rem(11px);
  margin-right: rem(4px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -203px
    0px;
  transform: translateY(1px);
}

// 재생 아이콘
.play-icon {
  display: inline-block;
  width: rem(11px);
  height: rem(13px);
  margin-right: rem(4px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat 0px
    0px;
  transform: translateY(2px);
}

// + 아이콘
.add-icon {
  display: inline-block;
  width: rem(11px);
  height: rem(13px);
  margin-right: rem(4px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -17px 0px;
  transform: translateY(2px);
}

// 다운로드 아이콘
.download-icon {
  display: inline-block;
  width: rem(15px);
  height: rem(13px);
  margin-right: rem(4px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -34px 0px;
  transform: translateY(2px);
}

// 선물 아이콘
.gift-icon {
  display: inline-block;
  width: rem(13px);
  height: rem(13px);
  margin-right: rem(4px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -56px 0px;
  transform: translateY(2px);
}

// 순위 변동없음 아이콘
.rank-nochange-icon {
  display: inline-block;
  width: rem(14px);
  height: rem(8px);
  background: url(../../assets/images/bullet_icons_sprite.png) no-repeat 0px -17px;
}

// 순위 Up

.rank-up-icon {
  display: inline-block;
  width: rem(9px);
  height: rem(6px);
  background: url(../../assets/images/bullet_icons_sprite.png) no-repeat -150px -130px;
  transform: translateY(-2px);
  margin-right: rem(1px);
}

.rank-up-num {
  font-size: rem(15px);
  color: rgb(240, 120, 10);
}

// 순위 Down

.rank-down-icon {
  display: inline-block;
  width: rem(9px);
  height: rem(6px);
  background: url(../../assets/images/bullet_icons_sprite.png) no-repeat -160px -130px;
  transform: translateY(-2px);
  margin-right: 1px;
}

.rank-down-num {
  font-size: rem(15px);
  color: rgb(140, 190, 250);
}

// 리스트 아이콘(문서처럼 생김)
.info-icon {
  display: inline-block;
  width: rem(12px);
  height: rem(15px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -286px -30px;
}

// 빈 하트 아이콘
.like-icon {
  display: inline-block;
  width: rem(14px);
  height: rem(12px);
  background: url(../../assets/images/bullet_icons_sprite.png) no-repeat -69px -14px;
  margin-right: 4px;
}

// 재생 아이콘 큰 버전
.chart-play-icon {
  display: inline-block;
  width: rem(16px);
  height: rem(28px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat 0px -28px;
}

// + 버전 아이콘 큰 버전
.chart-add-icon {
  display: inline-block;
  width: rem(19px);
  height: rem(28px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -45px -27px;
}

// 다운로드 아이콘 큰 버전
.chart-download-icon {
  display: inline-block;
  width: rem(21px);
  height: rem(26px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -98px -30px;
}

// 뮤비 아이콘 큰 버전
.chart-mv-icon {
  display: inline-block;
  width: rem(30px);
  height: rem(28px);
  background: url(../../assets/images/button_icons_sprite2.png) no-repeat -152px -26px;
}

.audio-bar {
  @include paddingY(10px);
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $playerBackground;
  transition: all 0.5s;
  transform: translateY(rem(60px));
  &__list {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__item {
    &:first-child {
      flex-grow: 1.5;
      padding-left: rem(30px);

      @include tab {
        flex-grow: 1;
        padding-left: rem(40px);
      }

      @include mobile {
        padding-left: rem(2px);
      }
    }

    &:nth-child(2) {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      gap: rem(15px);

      @include tab {
        flex-grow: 0;
        justify-content: flex-start;
        gap: rem(4px);
      }

      @include mobile {
        gap: rem(2px);
        margin-left: rem(2px);
      }
    }
    &:nth-child(3) {
      flex-grow: 1.5;
      display: flex;

      @include tab {
        flex-grow: 0;
        margin-left: rem(6px);
      }
    }

    &:nth-child(4) {
      flex-grow: 0.3;

      @include tab {
        flex-grow: 0;
        margin-left: rem(10px);
      }

      @include mobile {
        display: none;
      }
    }
    &:nth-child(5) {
      flex-grow: 1.5;
      display: flex;

      @include tab {
        display: none;
      }

      @include mobile {
        display: none;
      }
    }
    &:nth-child(6) {
      flex-grow: 1;
      text-align: end;
      margin-right: rem(10px);

      @include tab {
        margin-left: rem(5px);
      }
    }
  }

  &__icon {
    width: rem(30px);
    height: rem(30px);

    @include tab {
      width: rem(20px);
      height: rem(20px);
    }

    @include mobile {
      display: none;
    }
  }

  &__playlist {
    color: $secondary-font;
    margin-left: rem(5px);
    font-size: rem(14px);
    white-space: nowrap;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 30px;
      height: 30px;
      top: -6px;
      left: -27px;
      background: url("/assets/images/music-sprite.svg") no-repeat 0 0;

      @include mobile {
        display: none;
      }
    }

    @include tab {
      margin-left: rem(0px);
    }
  }

  &__album {
    width: rem(40px);
  }

  &__title {
    @include ellipsis;
    margin-left: rem(10px);
    color: $white;
    font-size: rem(14px);

    @include tab {
      display: none;
    }
  }

  &__control {
    &-loop {
      @include removeBtnStyle;
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url("/assets/images/music-sprite.svg") no-repeat -30px 0;
    }

    &-prev {
      @include removeBtnStyle;
      display: inline-block;

      width: 30px;
      height: 30px;
      background: url("/assets/images/music-sprite.svg") no-repeat 0 -30px;
    }

    &-play {
      @include removeBtnStyle;
      display: inline-block;

      width: 30px;
      height: 30px;
      background: url("/assets/images/music-sprite.svg") no-repeat -120px 0;

      &:focus {
        outline: none;
      }
    }

    &-next {
      @include removeBtnStyle;
      display: inline-block;

      width: 30px;
      height: 30px;
      background: url("/assets/images/music-sprite.svg") no-repeat -30px -30px;
    }

    &-random {
      @include removeBtnStyle;
      display: inline-block;

      width: 30px;
      height: 30px;
      background: url("/assets/images/music-sprite.svg") no-repeat -60px -30px;
    }
  }

  &__lyrics {
    display: block;
    width: 30px;
    height: 30px;
    background: url("/assets/images/music-sprite.svg") no-repeat -60px 0;
    @include autoMargin;
  }

  &__start-time {
    margin-left: rem(30px);
    color: $white;
    font-size: rem(14px);
  }

  &__end-time {
    margin-left: rem(30px);
    color: $secondary-font;
    font-size: rem(14px);
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: $primary-color;
    transition: width 1750ms linear;

    &::after {
      display: inline-block;
      content: "";
      width: rem(12px);
      height: rem(12px);
      border-radius: 50%;
      background: $white;
      border: 1px solid $borderGray;
      position: absolute;
      top: rem(-4px);
      right: rem(-5px);
    }
  }
}

.slider {
  width: 40%;
  min-width: rem(120px);
  height: rem(2px);
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  border-radius: 25px;
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  margin-bottom: rem(10px);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: rem(-13px);
    left: rem(-26px);
    width: 30px;
    height: 30px;
    background: url("/assets/images/music-sprite.svg") no-repeat -90px 0;
  }
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  height: rem(10px);
  width: rem(10px);
  background: $white;
  border-radius: 50%;
  border: 1px solid $borderDarkGray;
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}

.audio-bar.is-show {
  transform: translateY(0);
}

.audio-bar__control-play.is-pause {
  background: url("/assets/images/music-sprite.svg") no-repeat -90px -30px;
}
